body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #0077cc;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.content {
    padding: 20px;
}

.add-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add-form input {
    padding: 8px;
    width: 150px;
}

.add-form button {
    padding: 8px 15px;
    background: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
}

.add-form button:hover {
    background: #005fa3;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#searchBox {
    padding: 8px;
    width: 300px;
    margin-bottom: 20px;
}


.sales-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.sales-form input {
    padding: 8px;
    width: 150px;
}

.sales-form button {
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.sales-form button:hover {
    background: #1f7e34;
}

#billTable {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

#billTable th, #billTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

h3 {
    margin-top: 15px;
}




.dashboard-cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #0077cc;
    margin: 0;
}

/* Login  */

.login-container {
    max-width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container input {
    width: 80%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

.login-container button {
    padding: 10px 20px;
    background: #0077cc;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background: #005da3;
}

#loginError {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Invoice Button Styling */
#salesSection button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #ffc107;
    color: #333;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#salesSection button:hover {
    background: #e0a800;
}

